<!DOCTYPE html>
<html ng-app="seriesList">
  <head>

    <script src="angular/angular.js"></script>
    <script src="jquery-3.2.1.min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <script src="angular/seriesList.js"></script>

    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <meta charset="utf-8">
    <title>Controle de Séries</title>
  </head>

  <body ng-controller="seriesController">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#pesquisa">Pesquisar</a></li>
      <li><a data-toggle="tab" href="#series">Minhas séries</a></li>
      <li><a data-toggle="tab" href="#watchlist">WatchList</a></li>
    </ul>

  <div class="tab-content">
    <div id="pesquisa" class = "jumbotron tab-pane fade in active">
      <h3>{{pesquisa}}</h3>
      <input class="form-control" type="text" placeholder="Digite aqui o nome da série" ng-model="nome">
      <button class = "btn btn-primary btn-danger" ng-click="getSeries(nome)">Pesquisar</button>

      <h3></h3>

    <div class="row">
      <div class="row-height">
      	<md-list-item ng-repeat="serie in series">
      	<div class="col"><img class="thumbnail img-responsive center-block" ng-if="serie.Poster != 'N/A'" src="{{serie.Poster}}"></div>
        <div class="col"><img class="thumbnail img-responsive center-block" id = "posterNulo" ng-if="serie.Poster == 'N/A'" src="http://v0.static.betalabs.com.br/wilson-591da56985027/ecommerce/belcosmeticos/img/unavailable.jpg"></div>
        <div class="col"><button class="btn btn-primary btn-danger col-bottom" ng-click="adicionaSerie(serie)">Adicionar</button></div>
      	</md-list-item>
      </div>
    </div>
    </div>

    <!--Minhas Series-->

    <div id="series" class="tab-pane fade">
      <h3></h3>
      <md-list-item ng-repeat="serie in minhasSeries" class= "col-sm-3">
      <img class="img-thumbnail img-responsive center-block" src="{{serie.Poster}}">
      <div>
        <div><button id ="botaoPerfil" class="btn btn-primary" ng-click="adicionarWatchList(serie)">Adicionar à WatchList</button></div>
        <div><button id ="botaoPerfil" class="btn btn-primary btn-danger" ng-click="deletarSerie(serie)">Remover</button></div>
      </div>
      </md-list-item>
    </div>

  <div id="watchList">



  </div>

  </div>

  </body>
</html>
