.jumbotron{
  background-color: white;
  text-align: center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul.nav li{
  width: 33%;
  text-align: center;
}

ul.nav li a{
  color: #990000;
}

ul.nav li a:hover{
  border-radius: 7px;
  color: white;
  background-color: #A62A2A;
}

.jumbotron button{
  margin-top: 5px;
  width: 50%;
}

.images button{
  text-align: center;
  font-size: small;
  margin-top: 0;
  width: 50%;
  height: 15%;
}

.adicionarSerie{
  width: 50%;
}

.deleteSerie{
  width: 50%;
}


#sizeThumbnail{
    width: 245px;
    height: 368px;
    text-align: center;
}

#tamanhoImagem{
    width: 235px;
    height: 358px;
}

.hoverzoom {
position: relative;
width: 350px;
overflow: hidden;
}

.hoverzoom .retina{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
opacity: 0;
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
border-radius: 2px;
text-align: center;
padding: 30px;
-webkit-transition:	 all .8s cubic-bezier(.190, 1.000, .220, 1.000);
-moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
-ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
-o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}

.hoverzoom .imagens a {
display: block;
width: 150px;
background: #6fc5e9;
border: 1px solid #59afd4;
border-radius: 4px;
color: #fff;
text-decoration: none;
text-align: center;
padding: 10px 15px;
margin: 16px auto 0;
}
