.jumbotron{
  background-color: white;
  text-align: center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul.nav li{
  width: 33%;
  text-align: center;
}

ul.nav li a{
  color: #990000;
}

ul.nav li a:hover{
  border-radius: 7px;
  color: white;
  background-color: #A62A2A;
}

#botoesPerfil{
  width: 235px;
  height: auto;
  text-align: center;
  margin-top: 5px;
}

#titulo{
  background-color: grey;
  color: white;
  width: 235px;
  border-radius: 3px;
  font-style: italic;
  margin-bottom: 0;
  height: auto;
}

#nomePesquisa{
  text-align: center;
}

#pesquisa{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#botaoPesquisar{
  margin-top: 3px;
  width: 35%;
  text-align: center;
  align-content: center;
  margin-left: 35%;
  margin-right: 65%;

}

#sizeThumbnail{
  width: 245px;
  height: auto;
  text-align: center;
}

#tamanhoImagem{
  width: 235px;
  height: 340px;
}

#imagens{
  margin-top: 10px;
}

#botoes{
  width: 100%;
  margin-top: 5px;
}

.hoverzoom {
position: relative;
width: 350px;
overflow: hidden;
}

.hoverzoom .imagens{
position: absolute;
width: 100%;
height: 100%;
border-radius: 2px;
text-align: center;
padding: 30px;
}

.hoverzoom .imagens a {
display: block;
width: 150px;
background: #6fc5e9;
border: 1px solid #59afd4;
border-radius: 4px;
color: #fff;
text-decoration: none;
text-align: center;
padding: 10px 15px;
margin: 16px auto 0;
}
